body{
	color: #666;
	font-family: sans-serif;
	font-weight: lighter;
	margin: 2em;
}

h1{
	color: #369;
	font-size: 250%;
}

img{
	width: 90%;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	border-bottom: #ccc 1px dotted;
	list-style-type: none;
	padding: 10px 0;
}

.container{
	margin: auto;
	width: 300px;
	background: #f4f4f4;
	border: #ccc solid;
	text-align: center;
}